.screen {
	$self: &;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
	padding-top: 50px;
	padding-bottom: 30px;
	
	@include media('<=md') {
		padding-top: 110px;
		padding-bottom: 50px;
		justify-content: flex-start;
		// overflow: visible;
	}
	
	@include media('<=xs') {
		padding-top: 80px;
	}

	&::before {
		display: block;
		content: '';
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		// filter: blur(50px);
		position: absolute;
		opacity: 0.5;
		height: 100%;
		width: 100%;
		z-index: 1;
		left: 0;
		top: 0;
	}

	&_one::before {
		background-image: url('#{$images-path}section-bg-1.png');
	}
	
	&_two::before {
		background-image: url('#{$images-path}section-bg-2.png');
	}
	
	&_three::before {
		background-image: url('#{$images-path}section-bg-3.png');
	}
	
	&_four::before {
		background-image: url('#{$images-path}section-bg-4.png');
	}
	
	&_five::before {
		background-image: url('#{$images-path}section-bg-5.png');
	}

	&__inner {
		position: relative;
		color: #fff;
		z-index: 2;
		display: flex;
		flex-flow: column nowrap;
		max-height: 850px;
		flex-grow: 1;
		// @include outline();
		
		@include media('<=md') {
			max-height: none;
		}
	}

	&__logo {
		display: block;
		align-self: flex-start;

		@include media('<=md') {
			display: none;
		}
	}

	&__content {
		display: flex;
		margin-bottom: 20px;
		align-items: center;
		flex-grow: 1;
		
		@include media('<=md') {
			margin-bottom: 70px;
			display: block;
			flex-grow: 0;
		}
	}

	&__side {
		padding-right: 50px;
		max-width: 680px;
		margin-right: auto;
		
		@include media('<=md') {
			max-width: none;
			padding: 0;
			margin-bottom: 30px;
		}
	}

	&__title {
		font-family: "MB", sans-serif;
		font-size: 64px;
		text-transform: uppercase;
		margin-bottom: 50px;
		@include range(64px, 36px, 1920px, 320px);
		
		@include media('<=md') {
			margin-bottom: 30px;
		}
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.3s;
			}
		}
	
		span {
			display: block;
			font-family: "MR", sans-serif;
			text-transform: none;
			font-size: 32px;
			@include range(32px, 24px, 1920px, 320px);
		}
	}

	&__text {
		font-size: 16px;
		@include range(16px, 14px, 1920px, 320px);
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 1.0s;
				animation-fill-mode: forwards;
				animation-delay: 0.5s;
			}
		}

		p {
			margin-bottom: 20px;
			
			@include media('<=md') {
				margin-bottom: 15px;
			}
		}
	}

	&__image {
		width: 54%;
		flex-shrink: 0;

		@include media('<=md') {
			width: auto;
		}
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: cardSlideIn 1.0s;
				animation-fill-mode: forwards;
			}
		}

		&[data-modal] {
			cursor: pointer;
		}

		img, video {
			display: block;
			box-sizing: border-box;
			width: 950px;
			max-width: 100%;
			margin-left: auto;
			border: 3px solid rgba(255, 255, 255, 0.3);
			border-radius: 8px;

			@include media('<=md') {
				margin: 0;
			}
		}
	}

	&__down {
		margin-top: auto;
		position: relative;
		align-self: center;
		z-index: 2;
	}
}
