.pagination {
	$self: &;
	display: flex;
	align-items: center;
	justify-content: center;

	&__button {
		@extend %reset-button;
		width: 45px;
		height: 45px;
		opacity: 0.3;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		border: 2px solid #fff;
		transition: all 0.2s;
		flex-shrink: 0;
		cursor: pointer;
		
		@include media('<=lg') {
			width: 40px;
			height: 40px;
		}

		@include media('<=md') {
			display: none;
		}

		&::before {
			content: '';
			width: 0; 
			height: 0;
			border-color: transparent;
			border-style: solid;
			border-top-width: 7px;
			border-bottom-width: 7px;
			transition: border-color 0.3s;
		}			

		&[disabled] {
			opacity: 0.1;
			cursor: auto;
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
			border-color:#387DFB;
		}
		
		&_prev {
			&:hover::before {
				border-right-color: #387DFB;
			}

			&::before {
				border-right: 9px solid #fff;
				margin-right: 5px;
			}			
		}
	
		&_next {
			&:hover::before {
				border-left-color: #387DFB;
			}
			
			&::before {
				border-left: 9px solid #fff;
				margin-left: 5px;
			}			
		}
	}

	&__dots {
		width: auto !important;
		padding: 0 14px;
		display: flex;
	}

	&__dot {
		display: block;
		box-sizing: border-box;
		height: 12px;
		width: 12px;
		opacity: 0.3;
		border-radius: 50%;
		transition: all 0.2s;
		background-color: #fff;
		cursor: pointer;
		margin: 0 6px;

		@include media('<=xs') {
			margin: 0 4px;
			height: 8px;
			width: 8px;
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			width: 40px;
			background: linear-gradient(270deg, #387DFB 0%, #00F2FB 100%);
			border-radius: 20px;
			opacity: 1;

			@include media('<=xs') {
				width: 24px;
			}
		}
	}
}