.hero {
	$self: &;
	box-sizing: border-box;
	padding-bottom: 30px;
	padding-top: 30px;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	color: #fff;
		
	@include media('<=xxs') {
		min-height: calc(var(--vh, 1vh) * 100);
	}

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		max-height: 700px;
		
		@include media('<=md') {
			max-height: 650px;
		}
	}

	&__emblem {
		margin-bottom: 30px;
		
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.5s;
			}
		}
		
		img {
			width: 490px;
			// @include range(490px, 240px, 1920px, 320px, 'width');
			
			@include media('<=xxlg') {
				width: 340px;
			}
			
			@include media('<=xlg') {
				width: 270px;
			}
			
			@include media('<=xxs') {
				width: 240px;
			}
		}
	}

	&__text {
		max-width: 1120px;
		text-align: center;
		margin-bottom: 50px;
		font-size: 24px;
		// @include range(24px, 14px, 1920px, 320px);
		
		@include media('<=xxlg') {
			font-size: 20px;
		}
		
		@include media('<=xlg') {
			font-size: 16px;
		}
		
		@include media('<=xxs') {
			font-size: 14px;
		}
	
		&[data-animation] {
			opacity: 0;
	
			&.showed {
				animation: titleFadeUp 0.7s;
				animation-fill-mode: forwards;
				animation-delay: 0.8s;
			}
		}

		p {
			margin-bottom: 30px;
		}
	}

	&__down {

	}
}